<!doctype html>
<html lang="en">
  <head>
    <title>Vince Pamolarco &mdash; Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Arbutus+Slab|Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../static/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="../static/css/aos.css">

    <link rel="stylesheet" href="../static/css/style.css">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
          
          <div class="">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#background-section" class="nav-link">Background</a></li>
                <li><a href="#about-section" class="nav-link">About</a></li>
                
              </ul>
            </nav>
          </div>

          <div class=" text-center mx-5">
            <h1 class="m-0 site-logo"><a href="/">VINCE</a></h1>
          </div>

          <div class="text-left">

            <nav class="site-navigation position-relative" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#portfolio-section" class="nav-link">Portfolio</a></li>
                <li><a href="#dream-section" class="nav-link">Dream</a></li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>
              </ul>
            </nav>


            <div class="d-inline-block d-lg-none" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>


    <div class="site-blocks-cover overlay bg-light" id="home-section">

      <div class="container">
        <div class="row justify-content-center">

          <div class="col-md-12 mt-lg-5 text-left align-self-center text-intro">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="text-black">I'm Vince</h1>
                <p class="lead">Aspiring Software Developer based in NY City</p>
                <p><a href="#portfolio-section" class="btn smoothscroll btn-primary">Portfolio</a></p>

              </div>
            </div>
          </div>
            
        </div>
      </div>

      <img src="../static/images/face.png" alt="Image" class="img-face" data-aos="fade">

      
    </div>  

    

    
    <div class="site-section" id="background-section">
      <div class="container">
        <div class="row ">
          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title text-center mb-5">Background</h2>
          </div>
          
          <div class="col-md-6 mb-4">
            <div class="service d-flex h-100">
              <div class="service-number mr-4"><span class="icon-style"></span></div>
              <div class="service-about">
                <h3>John Jay College - CUNY</h3>
                <p>Pursuing Bachelor of Science in Computer Science & Information Security</p>
                <p>Expected completion by June 2023</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="service d-flex h-100">
              <div class="service-number mr-4"><span class="icon-business_center"></span></div>
              <div class="service-about">
                <h3>Redcore Physical Therapy</h3>
                <p>Administrator</p>
                <p>Apr 2018 - Sep 2021</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="service d-flex h-100">
              <div class="service-number mr-4"><span class="icon-desktop_windows"></span></div>
              <div class="service-about">
                <h3>NYC Tech Talent Pipeline</h3>
                <p>Full Stack Developer</p>
                <p>Jan 2022 - Present</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="service d-flex h-100">
              <div class="service-number mr-4"><span class="icon-layers"></span></div>
              <div class="service-about">
                <h3>Tools</h3>
                <p>Frontend: HTML, CSS, JS, React, Sass</p>
                <p>Backend: Django, Flask</p>
                <p>Others: Python, C++, Git, GitHub, Docker</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="site-section" id="about-section">
      <div class="container">
        <div class="row ">
          <div class="col-12 mb-4 position-relative">
            <h2 class="section-title">About Me</h2>
          </div>
          <div class="col-lg-4 order-1 order-lg-2 mb-4 mb-lg-0">
            <div class="bg-light pt-5">
            <img src="../static/images/face2.png" alt="Image" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-4 order-2 order-lg-1">
            <p>Born in Philippines, raised in Queens. This individual is about to rock the world. I am currently pursuing my bachelor degree at John Jay College of Criminal Justice.</p>
            <p>I immigrated from Philippines to New York when I was 16 y/o. Transition was hard but eventually liked living in here. What I like about here is the crazy fast internet (currently paying verizon for 300 Mbps).</p>
            
          </div>
          <div class="col-lg-4 order-3 order-lg-3">
            <p>For my hobbies, I love playing video games but I plan to find other interests after graduating</p>
            <p>I've been exposed to computer since I was 13 and I knew I want my carrer to revolve around computers. I have a burning passion in creating a secure environment in cybersecurity.</p>
            <p>If you want to know more about me.</p>
            <p><a href="#contact-section" class="btn smoothscroll btn-primary">Contact Me</a></p>
          </div>
          
        </div>
      </div>
    </div>


<!-- PROJECTS START HERE -->

<section class="site-section block__62272" id="portfolio-section">
      

  <div class="container">
    <div class="row mb-5">
      <div class="col-12 position-relative">
        <h2 class="section-title text-center mb-5">My Portfolio</h2>
      </div>
    </div>

    
    <div class="row">
      
      <div class="col-lg-4 col-md-6">
    
        
        <a href="https://github.com/vincepogz/food-talk/blob/main/README.md">
          <img src="https://raw.githubusercontent.com/vincepogz/portfolio_site/main/my_site/media/portfolio/images/mainLogo.png" target="_blank" class="img-fluid mb-2">
        </a>
        
        <h3>Food Talk</h3>
        <p>Group 3 enticing viewers with Food Recipe. This app is made using Django frameworks</p>
    
      </div>
      
      <div class="col-lg-4 col-md-6">
    
        
        <a href="https://github.com/vincepogz/portfolio_site/blob/main/README.md">
          <img src="https://raw.githubusercontent.com/vincepogz/portfolio_site/main/my_site/media/portfolio/images/heroku.PNG" target="_blank" class="img-fluid mb-2">
        </a>
        
        <h3>Heroku</h3>
        <p>Deployed my Django App to Heroku</p>
    
      </div>
      
      <div class="col-lg-4 col-md-6">
    
        
        <a href="https://github.com/vincepogz/flask-blog-site/blob/main/README.md">
          <img src="https://raw.githubusercontent.com/vincepogz/portfolio_site/main/my_site/media/portfolio/images/blog.PNG" target="_blank" class="img-fluid mb-2">
        </a>
        
        <h3>Blog in Flask</h3>
        <p>Group 2 presenting Blog in Flask</p>
    
      </div>
      
      <div class="col-lg-4 col-md-6">
    
        
        <a href="https://github.com/vincepogz/CUNY2X-TTP-Notes/blob/main/_Projects/frontend_projects/dad_jokes/README.md">
          <img src="https://raw.githubusercontent.com/vincepogz/portfolio_site/main/my_site/media/portfolio/images/dad.PNG" target="_blank" class="img-fluid mb-2">
        </a>
        
        <h3>Dad Jokes</h3>
        <p>Frontend Project with fetch function</p>
    
      </div>
      
      <div class="col-lg-4 col-md-6">
    
        
        <a href="https://github.com/vincepogz/CUNY2X-TTP-Notes">
          <img src="https://raw.githubusercontent.com/vincepogz/portfolio_site/main/my_site/media/portfolio/images/ttp.PNG" target="_blank" class="img-fluid mb-2">
        </a>
        
        <h3>CUNY2X-TTP Notes</h3>
        <p>This is all my notes from the bootcamp</p>
    
      </div>
      
      <div class="col-lg-4 col-md-6">
    
        
        <a href="https://lifecycle380.herokuapp.com/">
          <img src="https://raw.githubusercontent.com/vincepogz/portfolio_site/main/my_site/media/portfolio/images/lifecycle.PNG" target="_blank" class="img-fluid mb-2">
        </a>
        
        <h3>LifeCycle</h3>
        <p>Project based on React. This app is made to allow NYC viewers to check the closest recycling station in their area.</p>
    
      </div>
      
    </div>
    
    

    
  </div>

</section>


    <section class="site-section"  id="dream-section">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title text-center">Dream Companies</h2>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center">
            <img src="../static/images/logo_1.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center">
            <img src="../static/images/logo_2.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center">
            <img src="../static/images/logo_3.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center">
            <img src="../static/images/logo_4.jpg" alt="Image" class="img-fluid">
          </div>      

          
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center">
            <img src="../static/images/logo_5.jpg" alt="Image" class="img-fluid">
          </div> 
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center">
            <img src="../static/images/logo_6.jpg" alt="Image" class="img-fluid">
          </div> 
        </div>
      </div>
    </section>

    

    <section class="site-section" id="contact-section">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title text-center mb-5">Contact Form</h2>
          </div>
        </div>
        <form action="#" class="form">
          <div class="row mb-4">
            <div class="form-group col-6">
              <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="form-group col-6">
              <input type="text" class="form-control" placeholder="Last name">
            </div>
          </div>

          <div class="row mb-4">
            <div class="form-group col-12">
              <input type="email" class="form-control" placeholder="Email address">
            </div>
          </div>

          <div class="row mb-4">
            <div class="form-group col-12">
              <input type="text" class="form-control" placeholder="Subject of the message">
            </div>
          </div>

          <div class="row mb-4">
            <div class="form-group col-12">
              <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Type your message here.."></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <input type="submit" class="btn btn-primary" value="Send Message">
            </div>
          </div>
          
        </form>
      </div>
    </section>

    <footer class="site-section bg-light footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-3">
            <h3 class="footer-title">John Jay College - CUNY</h3>
            <p><span class="d-inline-block d-md-block">524 W 59th Street,</span> New York, NY 10019, USA</p>
          </div>
          <div class="col-md-5 mx-auto">
            <div class="row">
              <div class="col-lg-4">
                <h3 class="footer-title">Favorites</h3>
                <ul class="list-unstyled">
                  <li><a href="#">Verizon</a></li>
                  <li><a href="#">Grubhub</a></li>
                  <li><a href="#">Uber</a></li>
                </ul>
              </div>
              <div class="col-lg-4">
                <h3 class="footer-title">Resources</h3>
                <ul class="list-unstyled">
                  <li><a href="#">Leetcode</a></li>
                  <li><a href="#">StackOverflow</a></li>
                  <li><a href="#">Quora</a></li>
                </ul>
              </div>
              <div class="col-lg-4">
                <h3 class="footer-title">Links</h3>
                <ul class="list-unstyled">
                  <li><a href="#">Github</a></li>
                  <li><a href="#">Coursera</a></li>
                  <li><a href="#">JJAY</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h3 class="footer-title">Follow Me</h3>
            <a href="https://twitter.com/vpamolarco" target="_blank" class="social-circle"><span class="icon-twitter"></span></a>
            <a href="https://www.facebook.com/zuck" target="_blank"  class="social-circle"><span class="icon-facebook"></span></a>
            <a href="https://www.instagram.com/m.bensss/" target="_blank"  class="social-circle"><span class="icon-instagram"></span></a>
            <a href="https://www.linkedin.com/in/vince-pamolarco/" target="_blank"  class="social-circle"><span class="icon-linkedin"></span></a>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->

  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/jquery-ui.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/owl.carousel.min.js"></script>
  <script src="../static/js/jquery.easing.1.3.js"></script>
  <script src="../static/js/aos.js"></script>
  <script src="../static/js/jquery.fancybox.min.js"></script>
  <script src="../static/js/jquery.sticky.js"></script>
  <script src="../static/js/isotope.pkgd.min.js"></script>

  
  <script src="../static/js/main.js"></script>
    
  </body>
</html>